body {
    padding-right: 0 !important;
    background-color: #efefef;
}

h1 {
    color: #78ab46;
}

footer {
    position: fixed;
    height: 50px;
    bottom: 0;
    width: 100%;
    background-color: #ccc
}

footer p {
    padding: 15px;
}

.error-message {
    color: #a94442;
}

.error-message:first-letter {
    text-transform: capitalize;
}

.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

.dtp div.dtp-date, .dtp div.dtp-time {
    background: #007bff !important;
}

.dtp > .dtp-content > .dtp-date-view > header.dtp-header {
    background: #007bff !important;
}

.dtp table.dtp-picker-days tr > td > a.selected {
    background: #007bff !important;
}

.required-input {
    color: #8c0615;
    font-size: 18px;
    margin-left: 1rem;
}