<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="robots" content="noindex,nofollow">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>SAFETYL MANAGER</title>
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/favico/favicon.ico}">
    <link th:href="@{/css/dataTables.bootstrap4.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.9.55/css/materialdesignicons.min.css" rel="stylesheet">
</head>
<body>
<div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>
<div id="main-wrapper">
    <header class="topbar">
        <nav class="navbar top-navbar navbar-expand-md navbar-dark">
            <div class="navbar-header border-right">
                <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
                <a class="navbar-brand" href="javascript:void(0)">
                    <b class="logo-icon">
                        <img th:src="@{/img/ues.png}" alt="homepage" class="dark-logo ml-2" width="30px" height="37px"/>
                        <img th:src="@{/img/ues.png}" alt="homepage" class="light-logo ml-2" width="30px" height="37px"/>
                    </b>
                    <span class="logo-text">
                        <img th:src="@{/img/logo-text.png}" alt="homepage" class="dark-logo" />
                        <img th:src="@{/img/logo-light-text.png}" class="light-logo" alt="homepage" />
                    </span>
                </a>
                <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="ti-more"></i></a>
            </div>
            <div class="navbar-collapse collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item d-none d-md-block"><a class="nav-link sidebartoggler waves-effect waves-light" href="javascript:void(0)" data-sidebartype="mini-sidebar"><i class="mdi mdi-menu font-18"></i></a></li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img th:src="@{/img/user.png}" alt="user" class="rounded-circle" width="36px"
                                 height="36px"/>
                            <span th:text ="${username}" class="ml-2 font-medium"></span><span class="mdi mdi-menu-down"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right user-dd animated flipInY">
                            <div class="d-flex no-block align-items-center p-3 mb-2 border-bottom">
                                <div class="ml-2">
                                    <h4 class="mb-0" th:text ="${username}"></h4>
                                </div>
                            </div>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" th:href="@{/logout}"><i class="mdi mdi-logout"></i> Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <aside class="left-sidebar">
        <div class="scroll-sidebar">
            <nav class="sidebar-nav">
                <ul id="sidebarnav">
                    <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" th:href="@{/manager/owners}" aria-expanded="false"><i class="mdi mdi-account-group"></i><span class="hide-menu">Propietarios</span></a></li>
                    <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" th:href="@{/manager/licenses}" aria-expanded="false"><i class="mdi mdi-license"></i><span class="hide-menu">Licencias</span></a></li>
                    <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" th:href="@{/manager/products}" aria-expanded="false"><i class="mdi mdi-cube-outline"></i><span class="hide-menu">Productos</span></a></li>
                    <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" th:href="@{/manager/history}" aria-expanded="false"><i class="mdi mdi-history"></i><span class="hide-menu">Historial</span></a></li>
                    <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" th:href="@{/manager/security}" aria-expanded="false"><i class="mdi mdi-key"></i><span class="hide-menu">Permisos</span></a></li>
                </ul>
            </nav>
        </div>
    </aside>
    <div class="page-wrapper">
        <div class="page-breadcrumb border-bottom">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-xs-12 justify-content-start d-flex align-items-center">
                    <h5 class="font-medium text-uppercase mb-0">Inicio</h5>
                </div>
                <div class="col-lg-9 col-md-8 col-xs-12 d-flex justify-content-start justify-content-md-end align-self-center">
                    <nav aria-label="breadcrumb" class="mt-2">
                        <ol class="breadcrumb mb-0 p-0">
                            <li class="breadcrumb-item active" aria-current="page">Index</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <div class="page-content container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h3 th:text="${'Bienvenido ' + username}"></h3>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card text-white bg-dark mb-3">
                        <div class="card-body">
                            <h5 class="card-title"><i class="mdi mdi-account-group"></i> Propietarios</h5>
                            <a th:href="@{/manager/owners}" class="card-text">Ver lista de propietarios de servico registrados en SAFETYL.</a>
                        </div>
                    </div>
                    <div class="card text-white bg-dark mb-3">
                        <div class="card-body">
                            <h5 class="card-title"><i class="mdi mdi-license"></i> Licencias</h5>
                            <a th:href="@{/manager/licenses}" class="card-text">Ver licencias registradas para los productos de SAFETYL.</a>
                        </div>
                    </div>
                    <div class="card text-white bg-dark mb-3">
                        <div class="card-body">
                            <h5 class="card-title"><i class="mdi mdi-cube-outline"></i> Productos</h5>
                            <a th:href="@{/manager/products}" class="card-text">Ver los productos de SAFETYL.</a>
                        </div>
                    </div>
                    <div class="card text-white bg-dark mb-3">
                        <div class="card-body">
                            <h5 class="card-title"><i class="mdi mdi-history"></i> Historial</h5>
                            <a th:href="@{/manager/history}" class="card-text">Ver historial de comprobación de las instancias de SAFETYL.</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer text-center">
            <img th:src="@{/img/ues.png}" alt="ues" class="rounded-circle" width="36"> UNIVERSIDAD DE EL SALVADOR · FACULTAD DE INGENIERÍA Y ARQUITECTURA © <span th:text="${#dates.year(#dates.createNow())}"></span>
        </footer>
    </div>
</div>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/app.min.js}"></script>
<script th:src="@{/js/default_theme.js}"></script>
<script th:src="@{/js/app-style-switcher.js}"></script>
<script th:src="@{/js/perfect-scrollbar.jquery.min.js}"></script>
<script th:src="@{/js/sparkline.js}"></script>
<script th:src="@{/js/custom.min.js}"></script>
<script>
    $('[data-toggle="tooltip"]').tooltip();
    $(".preloader").fadeOut();

</script>
</body>
</html>