<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="robots" content="noindex,nofollow">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>SAFETYL MANAGER - PROPIETARIOS</title>
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/favico/favicon.ico}">
    <link th:href="@{/css/dataTables.bootstrap4.css}" rel="stylesheet">
    <link th:href="@{/css/flatpickr.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.9.55/css/materialdesignicons.min.css" rel="stylesheet">
</head>
<body>
<div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>
<div id="main-wrapper">
    <header class="topbar">
        <nav class="navbar top-navbar navbar-expand-md navbar-dark">
            <div class="navbar-header border-right">
                <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
                <a class="navbar-brand" href="javascript:void(0)">
                    <b class="logo-icon">
                        <img th:src="@{/img/ues.png}" alt="homepage" class="dark-logo ml-2" width="30px" height="37px"/>
                        <img th:src="@{/img/ues.png}" alt="homepage" class="light-logo ml-2" width="30px" height="37px"/>
                    </b>
                    <span class="logo-text">
                        <img th:src="@{/img/logo-text.png}" alt="homepage" class="dark-logo" />
                        <img th:src="@{/img/logo-light-text.png}" class="light-logo" alt="homepage" />
                    </span>
                </a>
                <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="ti-more"></i></a>
            </div>
            <div class="navbar-collapse collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item d-none d-md-block"><a class="nav-link sidebartoggler waves-effect waves-light" href="javascript:void(0)" data-sidebartype="mini-sidebar"><i class="mdi mdi-menu font-18"></i></a></li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img th:src="@{/img/user.png}" alt="user" class="rounded-circle" width="36px"
                                 height="36px"/>
                            <span th:text ="${username}" class="ml-2 font-medium"></span><span class="mdi mdi-menu-down"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right user-dd animated flipInY">
                            <div class="d-flex no-block align-items-center p-3 mb-2 border-bottom">
                                <div class="ml-2">
                                    <h4 class="mb-0" th:text ="${username}"></h4>
                                </div>
                            </div>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" th:href="@{/logout}"><i class="mdi mdi-logout"></i> Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <aside class="left-sidebar">
        <div class="scroll-sidebar">
            <nav class="sidebar-nav">
                <ul id="sidebarnav">
                    <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" th:href="@{/manager/owners}" aria-expanded="false"><i class="mdi mdi-account-group"></i><span class="hide-menu">Propietarios</span></a></li>
                    <li class="sidebar-item selected"> <a class="sidebar-link waves-effect waves-dark sidebar-link active" th:href="@{/manager/licenses}" aria-expanded="false"><i class="mdi mdi-license"></i><span class="hide-menu">Licencias</span></a></li>
                    <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" th:href="@{/manager/products}" aria-expanded="false"><i class="mdi mdi-cube-outline"></i><span class="hide-menu">Productos</span></a></li>
                    <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" th:href="@{/manager/history}" aria-expanded="false"><i class="mdi mdi-history"></i><span class="hide-menu">Historial</span></a></li>
                    <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" th:href="@{/manager/security}" aria-expanded="false"><i class="mdi mdi-key"></i><span class="hide-menu">Permisos</span></a></li>
                </ul>
            </nav>
        </div>
    </aside>
    <div class="page-wrapper">
        <div class="page-breadcrumb border-bottom">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-xs-12 justify-content-start d-flex align-items-center">
                    <h5 class="font-medium text-uppercase mb-0">Licencias</h5>
                </div>
                <div class="col-lg-9 col-md-8 col-xs-12 d-flex justify-content-start justify-content-md-end align-self-center">
                    <nav aria-label="breadcrumb" class="mt-2">
                        <ol class="breadcrumb mb-0 p-0">
                            <li class="breadcrumb-item"><a th:href="@{/index}">Inicio</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Licencias</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <div class="page-content container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row px-3">
                                <div class="col-12 px-2">
                                    <div id="loading-form-alert" class="alert alert-info text-center" hidden="hidden" role="alert"><i class="fa fa-spinner fa-pulse fa-1x fa-fw"></i><span class="sr-only">Loading...</span> Cargando ...</div>
                                    <form id="mainForm">
                                        <div class="form-row">
                                            <div class="col-6">
                                                <label for="license-owner">Propietario</label>
                                                <select name="owner" class="form-control" id="license-owner">
                                                    <option selected disabled>Seleccione una opción</option>
                                                </select>
                                            </div>
                                            <div class="col-6">
                                                <label for="license-product">Productos</label>
                                                <select name="owner" multiple class="form-control" id="license-products">
                                                    <option selected disabled>Seleccione una opción</option>
                                                </select>
                                            </div>
                                            <div class="col-4">
                                                <label for="license-activationDate">Fecha activación</label>
                                                <input type="text" name="activationDate" id="license-activationDate" class="form-control CRUD-element">
                                            </div>
                                            <div class="col-4">
                                                <label for="license-expireDate">Fecha vencimiento</label>
                                                <input type="text" name="expireDate" id="license-expireDate" class="form-control CRUD-element">
                                            </div>
                                            <div class="col-4">
                                                <label for="license-phone">Usuario permitidos</label>
                                                <input type="number" name="phone" id="license-phone" class="form-control CRUD-element">
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="form-row">
                                            <div class="col-12">
                                                <button type="button" id="save-btn" class="btn btn-success"><i class="mdi mdi-content-save"></i> Guardar</button>
                                                <button type="button" id="remove-btn" class="btn btn-danger" disabled><i class="mdi mdi-trash-can"></i> Eliminar</button>
                                                <button type="reset" id="clear-form-btn" class="btn btn-secondary"><i class="mdi mdi-notification-clear-all"></i> Limpiar formulario</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <br>
                            <div class="table-responsive">
                                <table id="mainTable" class="table table-hover table-borderless table-sm" style="width:100%">
                                    <thead>
                                    <tr>
                                        <th>Licencia</th>
                                        <th>Fecha activación</th>
                                        <th>Fecha vencimiento</th>
                                        <th>Ultima verificación</th>
                                        <th>Máximo de usuarios</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                            <hr>
                            <div class="row px-3" id="extra-info-panel" hidden="hidden">
                                <div class="col-6">
                                    <h3 class="text-info">Información de propietario</h3>
                                    <div class="form-group row">
                                        <label for="owner-name" class="col-sm-2 col-form-label">Nombre</label>
                                        <div class="col-sm-10">
                                            <input type="text" readonly class="form-control-plaintext" id="owner-name" value="email@example.com">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="owner-email" class="col-sm-2 col-form-label">Email</label>
                                        <div class="col-sm-10">
                                            <input type="text" readonly class="form-control-plaintext" id="owner-email" value="email@example.com">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="owner-phone" class="col-sm-2 col-form-label">Teléfono</label>
                                        <div class="col-sm-10">
                                            <input type="text" readonly class="form-control-plaintext" id="owner-phone" value="email@example.com">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <ul class="list-group" id="license-product">
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer text-center">
            <img th:src="@{/img/ues.png}" alt="ues" class="rounded-circle" width="36"> UNIVERSIDAD DE EL SALVADOR · FACULTAD DE INGENIERÍA Y ARQUITECTURA © <span th:text="${#dates.year(#dates.createNow())}"></span>
        </footer>
    </div>
</div>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script src="https://use.fontawesome.com/e3990c94a2.js"></script>
<script th:src="@{/js/app.min.js}"></script>
<script th:src="@{/js/default_theme.js}"></script>
<script th:src="@{/js/app-style-switcher.js}"></script>
<script th:src="@{/js/perfect-scrollbar.jquery.min.js}"></script>
<script th:src="@{/js/sparkline.js}"></script>
<script th:src="@{/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/js/jquery.validate.min.js}"></script>
<script th:src="@{/js/messages_es.js}"></script>
<script th:src="@{/js/sweetalert2.js}"></script>
<script th:src="@{/js/flatpickr.js}"></script>
<script th:src="@{/js/es.js}"></script>
<script th:src="@{/js/custom.min.js}"></script>
<script th:src="@{/js/forms.js}"></script>
<script>
    $('[data-toggle="tooltip"]').tooltip();
    $(".preloader").fadeOut();

    let apiUri = '/licenses/';
    let CRUDModel = {name: null, email: null, phone: null};
    let requestMethod = "POST";
    let mainForm = $('#mainForm');
    const modelName = 'licencia';

    const tableColumns = [
        { "data": "serial" },
        { "data": "activationDate" },
        { "data": "expireDate" },
        { "data": "lastVerification" },
        { "data": "maxUserEnabled" },
    ];
    const tableColumnsDefs = "";
    initMainDatatable('GET', apiUri, tableColumns, tableColumnsDefs, null, 'licenses');

    mainForm.validate({
        rules: {
            name: {
                required: true,
                maxlength: 100
            },
            email: {
                required: true,
                maxlength: 150,
                email: true
            },
            phone: {
                required: true,
                maxlength: 15
            }
        }
    });

    ajaxRequestGet(apiContextPath + '/owners/', null).done(function (data) {
        let options = "";
        data['_embedded']['owners'].forEach(function (item) {
           options = options + '<option>'+ item.name +'</option>';
        });
        document.getElementById("license-owner").innerHTML = options;
    });

    ajaxRequestGet(apiContextPath + '/products/', null).done(function (data) {
       let options = "";
       data['_embedded']['products'].forEach(function (item) {
          options = options + '<option>'+ item.name +'</option>';
       });
       document.getElementById("license-products").innerHTML = options;
    });

    $(document).on( 'click', 'tbody tr', function () {
        let rowData = mainDatatable.row( $(this) ).data()
        document.getElementById("loading-form-alert").toggleAttribute("hidden");
        ajaxRequestGet(rowData['_links']['self']['href'], null).done(function (res) {
            requestMethod = "PUT";
            CRUDModel = res;
            ajaxRequestGet(res['_links']['owner']['href'], null).done(function (owner) {
                if (owner === null) {
                    Swal.fire('Error', 'Ocurrio un error al buscar la información del propietario.', 'error');
                } else {
                    document.getElementById("owner-name").value = owner.name;
                    document.getElementById("owner-email").value = owner.email;
                    document.getElementById("owner-phone").value = owner.phone;
                }
            });
            ajaxRequestGet(res['_links']['products']['href'], null).done(function (products) {
                let productList = '<li class="list-group-item active">Productos asignados</li>';
                if (products['_embedded']['products'].length === 0) {
                    productList = '<li class="list-group-item">Productos no asignados</li>';
                } else {
                    products['_embedded']['products'].forEach(function (item) {
                        productList = productList + '<li class="list-group-item">'+ item.name +'</li>';
                    });
                }
                document.getElementById("license-product").innerHTML = productList;
            });
            //document.getElementById("license-name").value = res.name;
            //document.getElementById("license-email").value = res.email;
            //document.getElementById("license-phone").value = res.phone;
            document.getElementById("remove-btn").removeAttribute("disabled");
            document.getElementById("loading-form-alert").toggleAttribute("hidden");
            document.getElementById("extra-info-panel").toggleAttribute("hidden");
            document.getElementById("save-btn").innerHTML = '<i class="mdi mdi-update"></i> Actualizar';
        });
        if ($(this).hasClass('table-active') ) {
            $(this).removeClass('table-active');
        }
        else {
            mainDatatable.$('tr.table-active').removeClass('table-active');
            $(this).addClass('table-active');
        }
    });

    $('#save-btn').click(function () {
        if (mainForm.validate()) {
            if (requestMethod === 'POST'){
                doRequest(
                    requestMethod,
                    apiContextPath + '/api' + apiUri,
                    CRUDModel,
                    'Guardar licencia',
                    '¿Confirma el guardado de la nueva licencia?',
                    'Guardado',
                    'La licencia fue guardada correctamente.',
                    'Guardar',
                    'Cancelar'
                );
            } else if(requestMethod === 'PUT') {
                doRequest(
                    requestMethod,
                    apiContextPath + '/api' + apiUri,
                    CRUDModel,
                    'Actualizar licencia',
                    '¿Confirma la actualización del elemento seleccionado?',
                    'Actualizado',
                    'La licencia fue actualizada correctamente.',
                    'Actualizar',
                    'Cancelar'
                );
            }
        }
    });

    $('#remove-btn').click( function () {
        requestMethod = "DELETE";
        doRequest(
            requestMethod,
            CRUDModel['_links']['self']['href'],
            null,
            'Eliminar licencia',
            '¿Confirma la eliminación del elemento seleccionado?',
            'Eliminado',
            'La licencia fue eliminada correctamente.',
            'Eliminar',
            'Cancelar'
        );
    });

    $('#clear-form-btn').click(function () {
        resetMainForm();
    });

    function doRequest(method, url, data, title, text, onSuccessTitle, onSuccessText, confirmBtn, cancelBtn) {
        Swal.fire({
            title: title,
            text: text,
            icon: 'question',
            showCancelButton: true,
            confirmButtonText: confirmBtn,
            cancelButtonText: cancelBtn,
        }).then((result) => {
            if (result.isConfirmed) {
                document.getElementById("loading-form-alert").toggleAttribute("hidden");
                ajaxRequestMethod(method, url, data).done(function (res) {
                    Swal.fire(onSuccessTitle, onSuccessText, 'success');
                    reloadMainDatatable();
                    document.getElementById("mainForm").reset();
                    resetMainForm();
                }).fail(function () {
                    Swal.fire('Error', 'Ocurrio un error al tratar de procesar la petición.', 'error');
                }).always(function () {
                    document.getElementById("loading-form-alert").toggleAttribute("hidden");
                });
            }
        });
    }

    function resetMainForm() {
        document.getElementById("extra-info-panel").toggleAttribute("hidden");
        document.getElementById("remove-btn").setAttribute("disabled", "disabled");
        document.getElementById("save-btn").innerHTML = '<i class="mdi mdi-content-save"></i> Guardar';
        clearValidation();
        CRUDModel = {name: null, email: null, phone: null};
    }

    const license_activation_date = flatpickr("#license-activationDate", {dateFormat: "Z", altInput: true, altFormat: "F j, Y", locale: "es", minDate: new Date(),
        onChange: function(selectedDates, dateStr, instance) {
            license_expiration_Date.set('minDate', dateStr)
        }});
    const license_expiration_Date = flatpickr("#license-expireDate", {dateFormat: "Z", altInput: true, altFormat: "F j, Y", locale: "es", minDate: new Date(),
        onChange: function(selectedDates, dateStr, instance) {
            license_activation_date.set('maxDate', dateStr)
        }});

</script>
</body>
</html>