<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:remove="all">Template for HTML email with inline image</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body style="margin:0px; background: #f8f8f8; ">
<div width="100%" style="background: #f8f8f8; padding: 0px 0px; font-family:arial; line-height:28px; height:100%;  width: 100%; color: #514d6a;">
    <div style="max-width: 700px; padding:50px 0;  margin: 0px auto; font-size: 14px">
        <table border="0" cellpadding="0" cellspacing="0" style="width: 100%; margin-bottom: 20px">
            <tbody>
            <tr>
                <td style="vertical-align: top; padding-bottom:30px;" align="center">
                    <a href="#" target="_blank"><img src="cid:company_logo_key.png" alt="Company Logo" style="border:none" width="100" height="100"><br/></a>
                    <img src="cid:app_icon_key.png" alt="App Logo" style="border:none" width="100" height="20">
                </td>
                <td style="padding-right: 2rem">
                    <strong>NOTIFICACIÓN DE CUENTA SAFETYL</strong>
                </td>
            </tr>
            </tbody>
        </table>
        <div style="padding: 40px; background: #fff;">
            <table border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
                <tbody>
                <tr>
                    <td>
                        <p th:text="${'Hola, ' + ownerName}"></p>
                        <p>Te informamos que se ha agregado una nueva licencia a tu lista de productos SAFETYL, a continuación te presentamos los detalles de la licencia.</p>

                    </td>
                </tr>
                <tr>
                    <td style="font-size: 12px; color: #b2b2b5; margin-top: 20px"><br>Si recibes este correo por error o no esta dirigido a tu persona, puedes eliminarlo de tu bandeja de entrada.</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div style="text-align: center; font-size: 12px; color: #b2b2b5; margin-top: 20px">
            <p th:text="${app_name_key + ' © ' + company_full_name_key}"></p>
            <p><span th:if="${company_phone_key != null}" th:text="${'Tel: ' + company_phone_key}"></span> - <span th:if="${company_email_key != null}" th:text="${'Email: ' + company_email_key}"></span></p>
            <p><a th:href="${company_url_key}" style="color: #b2b2b5; text-decoration: underline;">Visitar sitio web</a> </p>
        </div>
    </div>
</div>
</body>

</html>